*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Pacifico', cursive;
    text-align: center;
}

img{
    width: 18%;
    border-radius: 100%;
}

h1,h2,h3,h4,h5{
    padding: 25px 5px 25px 5px;
}

#header{
    background-color: #16213E;
    color: #E94560;
    padding-top: 30px;
    padding-bottom: 30px;
    animation: fade 5s infinite;
}

#content{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #16213E;
    margin-left: 500px;
    text-align: left;
}

#content p{
    padding: 10px;
  }

#footer{
    background-color: #16213E;
    color: #E94560;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fade 5s infinite;
}

#footer i{
    margin: 15px;
    padding-left: 5px;
}

@keyframes fade{
    from{background-color: #16213E;}
    to{background-color: steelblue;}
}
